################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rochas.ImageGenerator/bin/Debug/netstandard2.1
/Rochas.ImageGenerator/obj
