################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rochas.ImageGenerator/bin/Debug/netstandard2.1
/Rochas.ImageGenerator/obj
/.vs/Rochas.ImageGenerator/FileContentIndex
/Rochas.ImageGenerator/bin/Release
/.vs/Rochas.ImageGenerator/v17
/Rochas.ImageGenerator/bin/Debug
/.vs
/packages
/Rochas.ImageFilter/bin/Release/netstandard2.0
/Rochas.ImageFilter/obj
/Rochas.ImageLegacyFilter/bin/Release/netstandard2.1
/Rochas.ImageLegacyFilter/obj/Release/netstandard2.1
/Rochas.ImageLegacyFilter/obj
